@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

html,
button,
input,
select,
textarea {
  font-family: "Open Sans", serif;
}

html {
  font-size: $font-size; //~14px
}

body {
  background-color: $color-bg;
  color: $color-basic;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list {
  padding-left: 2rem;
  list-style-type: none;
  li {
    padding-bottom: 1em;
    &:last-child {
      padding-bottom: initial;
    }
    &:before {
      content: "\25AA";
      color: $color-magenta;
      display: inline-block;
      width: 1.5em;
      margin-left: -1.5em;
    }
  }
}

.content {
  background-color: $color-fg;
}
@mixin content {
  background-color: $color-fg;
}

table,
th,
td {
  border-collapse: collapse;
  border: 0.2rem solid $color-bg;
  padding: 0.5rem 1rem;
}
table {
  text-align: left;
  width: 100%;
}
th {
  font-weight: 400;
}

a {
  color: $color-aqua;
  text-decoration: none;
  &:hover {
    color: $color-highlighted;
    text-decoration: underline;
  }
}

h1 {
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.05rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

nav {
  position: sticky;
  top: 0;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  @include content;
  padding: 1rem;
}

.menubar {
  background-color: $color-fg;
  display: flex;
  flex-flow: row wrap;
  margin-top: 0;
  align-content: center;
  li {
    padding: 1em;
  }
  li:first-child {
    // padding-bottom: 0;
    height: 100%;
    min-width: 6rem;
  }
}
