/*! normalize.css modified for PXtoEM.com at 16px
    normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
  * Corrects inline-block display not defined in IE6/7/8/9 & FF3
  */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
  * Prevents modern browsers from displaying 'audio' without controls
  * Remove excess height in iOS5 devices
  */

audio:not([controls]) {
  display: none;
  height: 0;
}

/*
  * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
  * Known issue: no IE6 support
  */

[hidden] {
  display: none;
}

html {
  -webkit-text-size-adjust: $font-size; /* 2 */
  -ms-text-size-adjust: $font-size; /* 2 */
}
