$color-bg: hsl(0, 0%, 7%);
$color-fg: hsl(0, 0%, 12%);
$color-basic: hsl(0, 0%, 90%);
$color-highlighted: hsl(0, 0%, 100%);
$color-aqua: hsl(207, 65%, 70%);
$color-violet: hsl(234, 33%, 55%);
$color-magenta: hsl(335, 46%, 50%);
$font-size: 87.5%;
