//
//
// This is ready for a complete refactor :-/

.dataset {
  display: flex;
  flex-flow: row wrap;
  margin-top: 3rem;
  section {
    flex: 1 1 auto;
    width: 20%;
    margin: 0 1rem;
    &:first-of-type {
      flex: 2 1 auto;
      width: 50%;
    }
  }
}

.dataset__intro {
  div {
    @include content;
    padding: 1rem;
  }
  &__table {
    margin-top: 2rem;
    @include content;
  }
}

.dataset__meta {
  &__table {
    @include content;
    margin-bottom: 2rem;
  }
  &__preview {
    h2 {
      padding: 1rem;
      padding-bottom: 0.5rem;
    }
    @include content;
    img {
      width: 100%;
    }
  }
}

.dataset__analysis {
  h2 {
    @include content;
    margin: 0 0;
    padding: 0.5rem 1rem;
  }
  &__existing {
    ul {
      padding-bottom: 0.05rem;
      li {
        margin: 0.1rem 0;
        padding: 0.5rem 1rem;
        @include content;
        img {
          height: 1em;
        }
        cursor: pointer;
        &:hover {
          background-color: $color-bg;
        }
      }
    }
    div {
      padding: 0.5rem 1rem;
      @include content;
    }
  }
  &__spawner {
    margin: 2rem 0;
    & > div {
      margin-bottom: 2rem;
      margin-top: 0.1rem;
      display: flex;
      flex-flow: row wrap;
      & > div {
        padding: 1rem;
        @include content;
        width: calc(50% - 2.2rem);
        margin: 0.1rem;
        cursor: pointer;
        &:hover {
          background-color: $color-bg;
        }
      }
    }
  }
}
